<style>
    .title {
        text-align: center;
        color: #107a65;
        text-size-adjust: 97%;
        padding: 10px 0 10px 0;
        font-family: 'Pompiere', cursive;
    }
    .contactUsContainer {
        background: #fff;
	    box-shadow: 0 2px 4px #888;
	    margin: auto;
	    padding: 16px;
        width: 50%;
    }

    .info {
        font-size: 22px;
        font-weight: 600;
        margin: 0 0 10px;
        color: #fff;
    }

    .partner {
        margin-top: 7%;
        margin-bottom: 5%;
    }

    .textaboutus {
        letter-spacing: 1px;
        font-size: 0.9em;
        line-height: 1.9em;
        color: #959596;
        box-sizing: border-box;
        width: 40%;
        text-align: center;
        margin: 3em auto 0;
    }

    .row {
        display: flex;
    }

    .column {
        flex: 33.33%;
        padding: 5px;
    }

    .img {
        width: 50%;
        margin: 0em 10em 9px;

    }

    .button {
        margin-left: 42%;
        margin-right: 50%;
        width: 15%;
        font-family: 'Pompiere', cursive;
        background-color: #107a65;
        color: white;
        cursor: pointer;
        border-radius: 20px;
    }
</style>

<div header class="divHeader"></div>


<div class="about">

    <h3 class="title"> About Us </h3>

    <div class=container>
        <p class="textaboutus"> Hi there, We are Noa and Guy and we are the creators of this lovely plants store.
            During the Covid-19 outbreak we both started buying, breeding and taking care of plants
            and we want to share this passion with the world.
        </p>
    </div>

    <h3 class="title partner"> Partners </h3>

    <div class="row">
        <div class="column">
            <img class="img" src="files/asset/images/guy.jpg" alt="" style="width:50%">
        </div>
        <div class="column">
            <img class="img" src="files/asset/images/noa.jpg" alt="" style="width:50%">
        </div>
    </div>
    <br>

<br>
<center>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3377.0512784567504!2d34.8355842152121!3d32.17589192169857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d47c2c2443f0d%3A0xb82ba121f3784a9!2sIDC%20Herzliya!5e0!3m2!1sen!2sil!4v1599561802184!5m2!1sen!2sil" width="500" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>  
</center>
<br>
<br>
</div>

<div class=contactUsContainer> 
    <h3> Contact Us </h3>
    <a href="mailto:guynoiman3@gmail.com">Send mail</a>

</div>


        
